DB_HOST=localhost
DB_URL=mongodb://localhost:27017/
DB_DATABASE=lti-media-resources
DB_REPLSET=rs0
DB_USER=
DB_PASS=
LTI_KEY=YOURKEY
PLATFORM_URL=http://localhost:8000
PLATFORM_CLIENTID=
PLATFORM_ENDPOINT=http://localhost:8000/mod/lti/auth.php
PLATFORM_TOKEN_ENDPOINT=http://localhost:8000/mod/lti/token.php
PLATFORM_KEY_ENDPOINT=http://localhost:8000/mod/lti/certs.php
MODE=development
DEBUG='provider:*,registrar'
# Registrar web services.
REG_WS_API_URL=https://webservicesqa.it.ucla.edu
REG_WS_CERT_NAME=/replace/with/pathto/file.cer
REG_WS_PRIVATE_KEY=/replace/with/pathto/file.key
SECRET_REG_WS_CLIENT_ID=
SECRET_REG_WS_SECRET=
# Bruincast configs
HOST=bclive.oid.ucla.edu
SECRET=******
TOKEN_NAME=wowzatoken
VALIDITY=90000
SECRET_BRUINCAST_API_LOGIN=
SECRET_BRUINCAST_API_USERNAME=
SECRET_BRUINCAST_API_PASSWORD=
SECRET_BRUINCAST_API=
# Video reserves FTP services.
SECRET_VIDEORES_FTP_HOST=
SECRET_VIDEORES_FTP_USERNAME=
SECRET_VIDEORES_FTP_PWD=
SECRET_VIDEORES_FILEPATH=
SECRET_VIDEORES_TOKEN_SECRET=
SECRET_VIDEORES_HOST=
